<div class="right_col" role="main">
  <div class="">

      <div class="clearfix"></div>
      <div class="row">
          <div class="col-md-12 col-sm-12 ">
              <div class="x_panel">
                  <div class="x_title">
                      <h2>Programming Contest <small>Register Participant</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                          </li>
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <br />
                      <% let success="Participant has been registered successfully!" %>
                      <%if(error.length>0){if(error==success){%>
                      <div class="alert alert-success"><%=error%></div>
                      <%}else{%>
                      <div class="alert alert-danger"><%=error%></div>
                      <%}%><%}%>
                      <form method="POST" action="/ProgrammingContest/register" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Team Name <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="text" id="team_name" name="team_name" required="required" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Member One <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="text" id="name_one" name="name_one" required="required" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Member Two <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="text" id="name_two" name="name_two" required="required" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="contact">Contact No <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="text" id="contact" name="contact" required="required" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">Email <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="email" id="email" name="email" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="institution">Institution <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <input type="text" id="institution" name="institution" required="required" class="form-control ">
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="category">Category<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <select class="form-control" id="category" name="category">
                                      <option disabled>--Choose option--</option>
                                      <option value="School">School</option>
                                      <option value="College">College</option>
                                      <option value="University"> University</option>
                                  </select>
                              </div>
                          </div>
                          
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="tshirt">T-Shirt For Member One<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <select class="form-control" id="tshirt_one" name="tshirt_one">
                                      <option disabled>--Choose option--</option>
                                      <option value="M">Medium</option>
                                      <option value="L">Large</option>
                                      <option value="XL"> Extra Large</option>
                                  </select>
                              </div>
                          </div>
                          <div class="item form-group">
                              <label class="col-form-label col-md-3 col-sm-3 label-align" for="tshirt">T-Shirt For Member Two<span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 ">
                                  <select class="form-control" id="tshirt_two" name="tshirt_two">
                                      <option disabled>--Choose option--</option>
                                      <option value="M">Medium</option>
                                      <option value="L">Large</option>
                                      <option value="XL"> Extra Large</option>
                                  </select>
                              </div>
                          </div>
                          <div class="ln_solid"></div>
                          <div class="item form-group">
                              <div class="col-md-6 col-sm-6 offset-md-3">
                                  
                                  <button class="btn btn-primary" type="reset">Reset</button>
                                  <button type="submit" class="btn btn-success">Submit</button>
                              </div>
                          </div>

                      </form>
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>